
@{
    ViewBag.Title = "ProductUpdatePage";
}

<input id="val" type="hidden" value="@ViewBag.pid" />

<div class="col-lg-12">
    <div class="card" style="width:1200px ;margin-left:0px;margin-top:16px">

        <div class="card-header d-flex align-items-center">
            <h3 class="h3">修改产品信息</h3>
        </div>

        <div class="card-body" style="margin-left:10%">
            <div class="form-group">
                <label class="form-control-label">产品名称</label>
                <div style="width:600px">
                    <input id="txtProductName" type="text" placeholder="请输入产品名称" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">应用行业</label>
                <div style="width:600px">
                    <select id="selTreade" class="form-control mb-3">
                        <option value="0">---请选择---</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label">产品类型</label>
                <div style="width:600px">
                    <div id="divradio" class="i-checks">

                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label">归属地</label>
                <div style="width:600px">
                    <select id="selAddress" class="form-control mb-3">
                        <option value="0">---请选择---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">产品阶段</label>
                <div style="width:600px">
                    <select id="selStages" class="form-control mb-3">
                        <option value="0">---请选择---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">产品描述</label>
                <div style="width:600px">
                    <textarea id="txtProductDetail" rows="3" cols="20" placeholder="请输入产品描述" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">产品经理</label>
                <div style="width:600px">
                    <select id="selManager" class="form-control mb-3">
                        <option value="0">---请选择---</option>
                    </select>
                </div>
            </div>

            <div class="line"></div>

            <div class="form-group" style="float:left;margin-top:30px">
                <div class="col-sm-4 offset-sm-3">
                    <button id="UpdProduct" class="btn btn-primary" onclick="ProductUpdate()">下一步</button>
                </div>
            </div>
            <div class="form-group" style="float:left;margin-left:30px;margin-top:30px">
                <div class="col-sm-4 offset-sm-3">
                    <a href="/Product/ProductInfoPage" class="btn btn-default">返回</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $().ready(function () {

        //菜单样式
        $("#productlist").addClass("active");

        //权限相关
        if ($("#privilege").val() == "普通用户") {
            $("#productadd").remove();
            $("#addrole").remove();
            $("#useradd").remove();
        }

        if ($("#privilege").val() == "用户相关") {
            $("#productadd").remove();
        }

        if ($("#privilege").val() == "产品相关") {
            $("#addrole").remove();
            $("#useradd").remove();
        }

        //获取下拉单选框等
        //1.应用行业  
        $.ajax({
            url: "/Product/GetTreade",
            type: "POST",
            dataType: "json",
            success: function (res) {
                if (res.Status) {
                    $(res.Trades).each(function () {
                        var tp = "<option value='" + this.TradeId + "'>" + this.TradeName + "</option>"
                        $("#selTreade").append(tp);
                    });

                    //2.获取产品阶段
                    $.ajax({
                        url: "/Product/GetStages",
                        type: "POST",
                        dataType: "json",
                        success: function (res) {
                            if (res.Status) {
                                $(res.Stages).each(function () {
                                    var tp = "<option value='" + this.StageId + "'>" + this.StageName + "</option>"
                                    $("#selStages").append(tp);
                                });

                                //3.获取归属地
                                $.ajax({
                                    url: "/Product/GetAddress",
                                    type: "POST",
                                    dataType: "json",
                                    success: function (res) {
                                        if (res.Status) {
                                            $(res.TrAddress).each(function () {
                                                var tp = "<option value='" + this.AddressId + "'>" + this.AddressName + "</option>"
                                                $("#selAddress").append(tp);
                                            });

                                            //4.获取产品经理
                                            $.ajax({
                                                url: "/Product/GetManage",
                                                type: "POST",
                                                dataType: "json",
                                                success: function (res) {
                                                    if (res.Status) {
                                                        $(res.Manages).each(function () {
                                                            var tp = "<option value='" + this.UserId + "'>" + this.UName + "</option>"
                                                            $("#selManager").append(tp);
                                                        });

                                                        //5.获取类型信息
                                                        $.ajax({
                                                            url: "/Product/GetTypes",
                                                            type: "POST",
                                                            dataType: "json",
                                                            success: function (res) {
                                                                if (res.Status) {
                                                                    $(res.Types).each(function () {
                                                                        var ra = " <input   type='radio' value='" + this.TypeId + "' name='ProductType' class='radio-template'><label for='radioCustom1'>" + this.TypeName + "&nbsp;&nbsp;&nbsp;</label>";
                                                                        $("#divradio").append(ra);
                                                                    });

                                                                    //
                                                                    //6.获取信息
                                                                    var pid = $("#val").val();
                                                                    $.ajax({
                                                                        url: "/Product/EditProduct",
                                                                        type: "POST",
                                                                        dataType: "json",
                                                                        data: {
                                                                            PId: pid
                                                                        },
                                                                        success: function (res) {
                                                                            if (res.Status) {

                                                                                $("#txtProductName").val(res.ProductInfo.ProductName);
                                                                                $("#selTreade").val(res.ProductInfo.TradeId);

                                                                                $("[name='ProductType']").each(function () {
                                                                                    if (this.value == res.ProductInfo.TypeId) {
                                                                                        this.checked = true;
                                                                                    }
                                                                                });

                                                                                var aid = res.ProductInfo.AddressId;
                                                                                $("#selAddress").val(aid);

                                                                                var sid = res.ProductInfo.StageId;
                                                                                $("#selStages").val(sid);

                                                                                $("#txtProductDetail").val(res.ProductInfo.ProductDetail);

                                                                                var uid = res.ProductInfo.UserId;
                                                                                $("#selManager").val(uid);


                                                                            }
                                                                            else {
                                                                                alert(res.Message);
                                                                            }

                                                                        }
                                                                    })
                                                                    //end
                                                                }
                                                                else {
                                                                    alert(res.Message);
                                                                }
                                                            }
                                                        });
                                                    }
                                                    else {
                                                        alert(res.Message)
                                                    }
                                                }
                                            });
                                        }
                                        else {
                                            alert(res.Message)
                                        }
                                    }
                                });
                            }

                        }
                    });
                }
                else {
                    alert(res.Message)
                }
            }
        })







    })



    //修改产品功能
    function ProductUpdate() {


        var pid = $("#val").val();
        //获取产品对象
        var obj = {
            ProductId: pid,
            ProductName: $("#txtProductName").val(),
            UserId: $("#selManager").val(),
            ProductDetail: $("#txtProductDetail").val(),
            TradeId: $("#selTreade").val(),
            TypeId: $("input[name='ProductType']:checked").val(),
            AddressId: $("#selAddress").val(),
            StageId: $("#selStages").val(),
            UpdatorId: $("#userid").val()
        }

        $.ajax({
            url: "/Product/UpdateProduct",
            type: "POST",
            dataType: "json",
            data: {
                ProductUpd: obj
            },
            success: function (res) {
                if (res.Status) {
                    alert(res.Message);
                    location.href = "/Product/ProductInfoPage";
                }
                else {
                    alert(res.Message);
                }
            }
        })
    }
</script>
