
@{
    ViewBag.Title = "ProductAddPage";
}

<h2>添加产品信息</h2>

<table class="table">
    <tr>
        <td style="color:#808080;font-size:20px">产品名称:</td>
        <td>
            <input id="txtname" type="text" class="text_sketch" style="width:500px;height:40px" placeholder="请输入" />
        </td>
        <td style="color:#808080">*必填项，最多50个字符串</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">应用行业:</td>
        <td>
            <select id="selTrea" class="text_sketch" style="width:500px;height:40px">
                <option value="0">请选择</option>
            </select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品类型:</td>
        <td>
            <input id="Radio1" type="radio" name="ProductType" value="1" checked="checked" />系统&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="Radio1" type="radio" name="ProductType" value="2" />产品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="Radio1" type="radio" name="ProductType" value="2" />方案
        </td>
        <td style="color:#808080">*请选择</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">归属地:</td>
        <td>
            <select id="selAddress" class="text_sketch" style="width:500px;height:40px">
                <option value="0">请选择</option>
            </select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品阶段:</td>
        <td>
            <select id="selStage" class="text_sketch" style="width:500px;height:40px">
                <option value="0">请选择</option>
            </select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品经理:</td>
        <td>
            <input id="Checkbox1" type="checkbox" />蔡光辉
            <input id="Checkbox1" type="checkbox" />石斌
            <input id="Checkbox1" type="checkbox" />郭志傲
            <input id="Checkbox1" type="checkbox" />赵家林
            <input id="Checkbox1" type="checkbox" />刘仔
        </td>
        <td style="color:#808080">*必填项，最多可选三位产品经理</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input id="Button1" type="button" value="添加产品" class="btn btn-primary" />
        </td>
    </tr>
</table>

