
@{
    ViewBag.Title = "ProductUpdatePage";
}

<h2>修改产品信息</h2>

<input id="val" type="hidden" value="@ViewBag.pid" />

<table class="table">
    <tr>
        <td style="color:#808080;font-size:20px">产品名称：</td>
        <td>
            <input id="txtProductName" type="text" placeholder="请输入产品名称" style="width:500px;height:30px" />
        </td>
        <td style="color:#808080">*必填项，最多50个字符串</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">应用行业：</td>
        <td>
            <select id="selTreade" style="width:500px;height:30px"></select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品类型：</td>
        <td>
            <input id="Radio1" type="radio" name="ProductType" value="1" checked="checked" />系统&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="Radio1" type="radio" name="ProductType" value="2" />产品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="Radio1" type="radio" name="ProductType" value="2" />方案
        </td>
        <td style="color:#808080">*请选择</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">归属地：</td>
        <td>
            <select id="selAddress" style="width:500px;height:30px"></select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品阶段：</td>
        <td>
            <select id="selStages" style="width:500px;height:30px"></select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品描述：</td>
        <td>
            <textarea id="txtProductDetail" rows="2" cols="20" placeholder="请输入产品描述" style="width:500px;height:30px"></textarea>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品经理：</td>
        <td>
            <select id="selManager" style="width:500px;height:30px"></select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input id="UpdProduct" type="button" value="下一步" onclick="ProductUpdate()" class="btn btn-primary" />
        </td>
    </tr>
</table>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $().ready(function () {
        //获取应用行业
        $.ajax({
            url: "/Product/GetTreade",
            type: "POST",
            dataType: "json",
            success: function (res) {
                $(res.Trades).each(function () {
                    var tp = "<option value='" + this.TradeId + "'>" + this.TradeName + "</option>"
                    $("#selTreade").append(tp);
                })
            }
        })
        //获取产品阶段
        $.ajax({
            url: "/Product/GetStages",
            type: "POST",
            dataType: "json",
            success: function (res) {
                $(res.Stages).each(function () {
                    var tp = "<option value='" + this.StageId + "'>" + this.StageName + "</option>"
                    $("#selStages").append(tp);
                })
            }
        })
        //获取归属地
        $.ajax({
            url: "/Product/GetAddress",
            type: "POST",
            dataType: "json",
            success: function (res) {
                $(res.TrAddress).each(function () {
                    var tp = "<option value='" + this.AddressId + "'>" + this.AddressName + "</option>"
                    $("#selAddress").append(tp);
                })
            }
        })
        //获取产品经理
        $.ajax({
            url: "/Product/GetManage",
            type: "POST",
            dataType: "json",
            success: function (res) {
                $(res.Manages).each(function () {
                    var tp = "<option value='" + this.UserId + "'>" + this.UName + "</option>"
                    $("#selManager").append(tp);
                })
            }
        })


        //获取信息
        var pid = $("#val").val();
        $.ajax({
            url: "/Product/EditProduct",
            type: "POST",
            dataType: "json",
            data: {
                PId: pid
            },
            success: function (res) {
                $("#txtProductName").val(res.ProductInfo.ProductName),
                    $("#selManager").val(res.ProductInfo.UserId),
                    $("#txtProductDetail").val(res.ProductInfo.ProductDetail),
                    $("#selTreade").val(res.ProductInfo.TradeId),
                    $("input[name='ProductType']:checked").each(function () {
                        if (this.value == res.ProductInfo.TypeId) {
                            this.checked = true;
                        }
                    })
                    $("#selAddress").val(res.ProductInfo.AddressId),
                    $("#selStages").val(res.ProductInfo.StageId)
            }
        })
    })

    //修改产品功能
    function ProductUpdate() {


        var pid = $("#val").val();

        var obj = {
            ProductId: pid,
            ProductName: $("#txtProductName").val(),
            UserId: $("#selManager").val(),
            ProductDetail: $("#txtProductDetail").val(),
            TradeId: $("#selTreade").val(),
            TypeId: $("input[name='ProductType']:checked").val(),
            AddressId: $("#selAddress").val(),
            StageId: $("#selStages").val(),
            UpdatorId: $("#userid").val()
        }

        $.ajax({
            url: "/Product/UpdateProduct",
            type: "POST",
            dataType: "json",
            data: {
                ProductUpd: obj
            },
            success: function (res) {
                if (res.Status) {
                    alert(res.Message);
                    location.href = "/Product/ProductInfoPage";
                }
                else {
                    alert(res.Message);
                }
            }
        })
    }
</script>
