
@{
    ViewBag.Title = "ProductAddPage";
}

<h2>添加产品信息</h2>

<table class="table">
    <tr>
        <td style="color:#808080;font-size:20px">产品名称：:</td>
        <td>
            <input id="Text1" type="text" placeholder="请输入产品名称" style="width:500px;height:30px" />
        </td>
        <td style="color:#808080">*必填项，最多50个字符串</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">应用行业：:</td>
        <td>
            <select id="selTreade" style="width:500px;height:30px">
                <option value="0">---请选择---</option>
            </select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品类型：:</td>
        <td>
            <input id="Radio1" type="radio" name="ProductType" value="1" checked="checked" />系统&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="Radio1" type="radio" name="ProductType" value="2" />产品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="Radio1" type="radio" name="ProductType" value="2" />方案
        </td>
        <td style="color:#808080">*请选择</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">归属地：:</td>
        <td>
            <select id="selAddress" style="width:500px;height:30px">
                <option value="0">---请选择---</option>
            </select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品阶段：:</td>
        <td>
            <select id="selStages" style="width:500px;height:30px">
                <option value="0">---请选择---</option>
            </select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品经理：:</td>
        <td>
            <input id="Checkbox1" type="checkbox" />蔡光辉&nbsp;&nbsp;&nbsp;
            <input id="Checkbox1" type="checkbox" />石斌&nbsp;&nbsp;&nbsp;
            <input id="Checkbox1" type="checkbox" />赵家林&nbsp;&nbsp;&nbsp;
            <input id="Checkbox1" type="checkbox" />李文博&nbsp;&nbsp;&nbsp;
            <input id="Checkbox1" type="checkbox" />赵鑫杰
        </td>
        <td style="color:#808080">*必填项，最多可选3位经理</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input id="Button1" type="button" value="添加产品" class="btn btn-primary" />
        </td>
    </tr>
</table>

