
@{
    ViewBag.Title = "ProductAddPage";
}

<h2>添加产品信息</h2>

<table class="table">
    <tr>
        <td style="color:#808080;font-size:20px">产品名称：:</td>
        <td>
            <input id="txtProductName" type="text" placeholder="请输入产品名称" style="width:500px;height:30px" />
        </td>
        <td style="color:#808080">*必填项，最多50个字符串</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">应用行业：:</td>
        <td>
            <select id="selTreade" style="width:500px;height:30px">
                <option value="0">---请选择---</option>
            </select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品类型：:</td>
        <td>
            <input id="Radio1" type="radio" name="ProductType" value="1" checked="checked" />系统&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="Radio1" type="radio" name="ProductType" value="2" />产品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="Radio1" type="radio" name="ProductType" value="2" />方案
        </td>
        <td style="color:#808080">*请选择</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">归属地：:</td>
        <td>
            <select id="selAddress" style="width:500px;height:30px">
                <option value="0">---请选择---</option>
            </select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品阶段：:</td>
        <td>
            <select id="selStages" style="width:500px;height:30px">
                <option value="0">---请选择---</option>
            </select>
        </td>
        <td style="color:#808080">*必填项</td>
    </tr>
    <tr>
        <td style="color:#808080;font-size:20px">产品经理：:</td>
        <td>
            <input id="Checkbox1" type="checkbox" name="Manage" value="蔡光辉" />蔡光辉&nbsp;&nbsp;&nbsp;
            <input id="Checkbox1" type="checkbox" name="Manage" value="石斌" />石斌&nbsp;&nbsp;&nbsp;
            <input id="Checkbox1" type="checkbox" name="Manage" value="赵家林"  />赵家林&nbsp;&nbsp;&nbsp;
            <input id="Checkbox1" type="checkbox" name="Manage" value="李文博"  />李文博&nbsp;&nbsp;&nbsp;
            <input id="Checkbox1" type="checkbox" name="Manage" value="赵鑫杰"  />赵鑫杰
        </td>
        <td style="color:#808080">*必填项，最多可选3位经理</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input id="Button1" type="button" value="添加产品" class="btn btn-primary" onclick="AddProduct()" />
        </td>
    </tr>
</table>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $().ready(function () {
        //获取应用行业
        $.ajax({
            url: "/Product/GetTreade",
            type: "POST",
            dataType: "json",
            success: function (res) {
                $(res.Trades).each(function () {
                    var tp = "<option value='" + this.TradeId + "'>" + this.TradeName + "</option>"
                    $("#selTreade").append(tp);
                })
            }
        })
        //获取归属地
        $.ajax({
            url: "/Product/GetAddress",
            type: "POST",
            dataType: "json",
            success: function (res) {
                $(res.TrAddress).each(function () {
                    var tp = "<option value='" + this.AddressId + "'>" + this.AddressName + "</option>"
                    $("#selAddress").append(tp);
                })
            }
        })
        //获取产品阶段
        $.ajax({
            url: "/Product/GetStages",
            type: "POST",
            dataType: "json",
            success: function (res) {
                $(res.Stages).each(function () {
                    var tp = "<option value='" + this.StageId + "'>" + this.StageName + "</option>"
                    $("#selStages").append(tp);
                })
            }
        })
    })

    function AddProduct() {

        var obj = {
            Products: {
                ProductName: $("#txtProductName").val(),
                TreadeId: $("#selTreade").val(),
                TypeId: $("input[name='ProductType']:checked").val(),
                AddressId: $("#selAddress").val(),
                StageId: $("#selStages").val(),
                ProductManage: $("input[name='Manage']:checked").val()
            }
        };

        $.ajax({
            url: "/Product/ProductAddPage",
            data: obj,
            type: "POST",
            dataType: "json",
            success: function (res) {
                if (res.Status) {
                    alert(res.Message);
                }
                else {
                    alert(res.Message);
                }
            }
        })
    }
</script>

