
@{
    Layout = null;
}

<!DOCTYPE html>
<html>  
<head> 
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <link href="~/ReferencesFile/Error/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/ReferencesFile/Error/css/style.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="~/ReferencesFile/Template/Icon/error.png" rel="icon" />
</head>
<body>
    <div class="error_main">
        <div class="content">
            <h1>An Absent Page</h1>
            <div class="error_content">
                <span class="fa fa-frown-o"></span>
                <h2>页面可能走丢了...</h2>
                <h2>Sorry, Page not found!</h2>
             
                <a class="b-home" href="/Home/Index">返回首页</a>
            </div> 
        </div>

    </div>

</body>
</html>