
@{
    ViewBag.Title = "AddRole";
}

<h2>AddRole</h2>

<table class="table">
    <tr>
        <td>角色名称</td>
        <td><input type="text" name="RoleName" id="RoleName" /></td>
    </tr>
    <tr>
        <td>权限名称</td>
        <td><input type="text" name="privilegeName" id="privilegeName" /></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="确定" onclick="roleadd()"/>
            <input type="button" value="取消" onclick="location.href='/Role/GetRoleInfos'" />
        </td>
    </tr>
</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    function roleadd() {
        var obj = {
            RoleName: $("#RoleName").val(),
            privilegeName: $("#privilegeName").val()
        };
        $.ajax({
            url: '/Role/PostRole',
            type: 'post',
            dataType: 'json',
            data: { RoleAll : obj },
            success: function (data) {
                if (data.Status) {
                    alert(data.Message);
                    location.href='/Role/GetRoleInfos'
                }
                else {
                    alert(data.Message);
                }
            }
        })
    }
</script>