<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>沪棋产品后台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/ReferencesFile/Template/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/ReferencesFile/Template/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/ReferencesFile/Template/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/ReferencesFile/Template/css/style.default.css" id="theme-stylesheet">
    <link id="new-stylesheet" rel="stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/ReferencesFile/Template/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/ReferencesFile/Template/Icon/index.png">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

</head>
<body>

    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
                                <div class="brand-text d-none d-lg-inline-block"><span> 沪棋产品 </span><strong> HuQiProduct</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Search-->
                            <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>


                            <!-- Languages dropdown    -->
                            <li class="nav-item dropdown">
                                <a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><img src=" ~/ReferencesFile/Template/Icon/China.jpg" alt="English"><span class="d-none d-sm-inline-block">China</span></a>
                                <ul aria-labelledby="Languages" class="dropdown-menu">
                                    <li><a rel="nofollow" href="#" class="dropdown-item"> <img src="~/ReferencesFile/Template/Icon/China.jpg" alt="China" class="mr-2">China</a></li>
                                </ul>
                            </li>

                            <!-- Logout    -->
                            <li class="nav-item"><a href="/User/UserLoginPage" class="nav-link logout"> <span class="d-none d-sm-inline">注销_LogOut</span><i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">

                    <div class="title">
                        <h1 style="margin-left:30px" class="h4">登录人：@Session["UserName"]</h1>
                        <p style="margin-left:50px"> @Session["RoleName"]</p>
                        <input type="hidden" value="@Session["UserId"]" id="userid" />
                        <input type="hidden" value="@Session["UserName"]" id="uname" />
                    </div>

                </div>
                <!-- Sidebar Navidation Menus-->
                <div class="por">
                    <ul class="list-unstyled">
                        <li id="index"><a href="/Home/index"> <i class="icon-home"></i>主页_Main </a></li>
                        <li id="productlist"><a href="/Product/ProductInfoPage"> <i class="icon-list"></i>产品列表_Product</a></li>
                        <li id="productadd"><a href="/Product/ProductAddPage"> <i class="icon-form"></i>添加产品_AddPro</a></li>
                        <li id="usersmanage">
                            <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" class="collapsed">
                            <i class="icon-user"></i> 用户管理_Users </a>
                            <ul id="exampledropdownDropdown" class="list-unstyled collapse">
                                <li><a href="/Role/GetRoleInfos">角色管理</a></li>
                                <li><a href="/Role/AddRole">添加角色</a></li>
                                <li id="usershow"><a href="/User/UserShow">用户管理</a></li>
                                <li><a href="/User/UserAdd">添加用户</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> <i class="icon-website"></i>权限管理_Privilege</a></li>
                        <li id="updpwd"><a href="/User/UpdateUserPasswordPage"> <i class="icon-interface-windows"></i>修改密码_UpdPwd</a></li>

                    </ul>
                </div>


            </nav>
            <div class="content-inner">
                <!-- Page Header-->
                <header class="page-header">
                    <div class="container-fluid">
                        <h3 class="no-margin-bottom">质量-环境-安全</h3>
                    </div>
                </header>
                @RenderBody()
                <!-- Dashboard Header Section    -->
                <!-- Page Footer-->
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 text-right">
                                <p></p>
                                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- JavaScript files-->
    <script src="~/ReferencesFile/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/ReferencesFile/Template/vendor/popper.js/umd/popper-utils.min.js"></script>
    <script src="~/ReferencesFile/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/ReferencesFile/Template/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/ReferencesFile/Template/vendor/chart.js/Chart.min.js"></script>
    <script src="~/ReferencesFile/Template/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="~/ReferencesFile/Template/js/front.js"></script>
</body>
</html>
 
<script>
    var li = document.querySelectorAll('.por li');
    for (var i = 0; i < li.length; i++)
        li[i].onclick = function () {
            for (var i = 0; i < li.length; i++) li[i].className = '';
            this.className = 'active'
        }
</script>



