
@{
    ViewBag.Title = "UpdateUserPasswordPage";
}

<div class="col-lg-6">
    <div class="card" style="width:800px;height:400px;margin-left:20px;margin-top:50px">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">修改密码 UpdatePassword</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label class="form-control-label">新密码_NewPassword</label>
                <input type="password" id="newpassword" placeholder="NewPassword" class="form-control" style="width:400px">
            </div> 
            <div class="form-group">
                <label class="form-control-label">确认密码_CheckPassword</label>
                <input type="password" id="checkpassword" placeholder="CheckPassword" class="form-control" style="width:400px">
            </div> <br /><br />
            <div class="form-group">
                <input type="button" style="margin-left:260px" id="passwordsave" value="保存_Save" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $().ready(function () {
        //菜单样式
        $("#updpwd").addClass("active");

        
           //权限相关
        if ($("#privilege").val() == "普通用户") {
            $("#productadd").remove();
            $("#addrole").remove();
            $("#useradd").remove();
        }

        if ($("#privilege").val() == "用户相关") {
            $("#productadd").remove();
        }

        if ($("#privilege").val() == "产品相关") {
            $("#addrole").remove();
            $("#useradd").remove();
        }
    });

    //修改密码点击事件
    $("#passwordsave").click(function () {

        console.log($("#username").val())
        if ($("#newpassword").val() == "") {
            alert('请输入密码');
            return;
        }

        if ($("#checkpassword").val() == "") {
            alert('请输入确认密码');
            return;
        }

        if ($("#newpassword").val() != $("#checkpassword").val()) {
            alert('两次输入密码不一致，请重新输入');
            return;
        }

        var obj = {
            User: {
                UserId: $("#userid").val(), 
                UName: $("#uname").val(),
                UserPassword: $("#newpassword").val()
            }
        };

        $.ajax({
            url: "/User/UpdateUserPassword",
            type: "POST",
            data: obj,
            dataType: "json",
            success: function (res) {
                if (res.Status) {
                    alert(res.Message);
                    location.href = "/User/UserLoginPage";
                }
                else {
                    alert(res.Message);
                }
            }
        });

    });

</script>

