
@{
    ViewBag.Title = "UserShow";
}


<h1>用户显示</h1>

<input id="txtname" type="text" placeholder="请输入用户名称" />
<input id="SubSel" type="button" value="查找" onclick="seleName()" class="btn btn-group" />
<table class="table table-bordered">
    <tr>
        <th><input id="Checkbox1" type="checkbox" /></th>
        <th>编号</th>
        <th>用户名称</th>
        <th>所属地</th>
        <th>角色</th>
        <th>操作</th>
    </tr>
    <tbody id="xs">
</table>
<input id="UserDel" type="button" value="批量删除" name="ud" onclick="userdel()" class="btn btn-danger">


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $().ready(function () {
        seleName("");
    });
    function seleName(username) {
        var obj = {
            UserName: username
        }
        $.ajax({
            url: "/User/GetUsers",
            type: "POST",
            dataType: "json",
            data: obj,
            success: function (res) {
                var oppo = "";
                $(res.Users).each(function () {
                    oppo += "<tr>"
                        + "<td><input id='Checkbox1' name='ud' type='checkbox' value='" + this.UserId + "' /></td>"
                        + "<td>" + this.UserId + "</td>"
                        + "<td>" + this.UserName + "</td>"
                        + "<td>" + this.AddressName + "</td>"
                        + "<td>" + this.RoleName + "</td>"
                        + "<td><a onclick='Update(" + this.ID + ")'>编辑</a></td>"
                        + "</tr>"
                })
                $("#xs").html(oppo);
            }
        })
        $("#SubSel").click(function () {
            var username = $("#txtname").val();
            seleName(username);
        });
    }
    //批量删除
    function userdel() {
        var id = "";
        //拼接字符串
        pj = $("[name='ud']:checked").each(function () {
            id = id + $(this).val() + ",";
        })
        //截取字符串
        id = id.substring(0, id.length - 1);
        //判断
        if (id == "") {
            alert("请选择您要删除的用户");
            return;
        }
        if (confirm("确认删除吗？？")) {
            $.ajax({
                url: "/User/UserDelete",
                type: "POST",
                dataType: "json",
                data: { id },
                success: function (res) {
                    if (res.Status) {
                        alert(res.Message);
                        seleName();
                    }
                    else {
                        alert(res.Message);
                    }
                }
            });
        }
    }
   
</script>






