
@{
    ViewBag.Title = "UserAdd";
}
 

<div class="col-lg-12">
    <div class="card" style="width:1200px ;margin-left:0px;margin-top:16px">

        <div class="card-header d-flex align-items-center">
            <h3 class="h3">添加用户</h3>
        </div>

        <div class="card-body" style="margin-left:10%">

            
            <div class="form-group">
                <label class="form-control-label">用户名</label>
                <div style="width:600px">
                    <input id="txtName" type="text" placeholder="用户名_UserName" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label">密码</label>
                <div style="width:600px">
                    <input id="txtPwd" type="password" placeholder="密码_Password" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label">邮箱</label>
                <div style="width:600px">
                    <input id="txtEmail" type="text" placeholder="邮箱_Email" class="form-control">
                </div>
            </div>


            <div class="form-group">
                <label class="form-control-label">所在地</label>
                <div style="width:600px">
                    <select id="seleAddress" name="account" class="form-control mb-3">
                        <option value="0">---请选择---</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label">关联角色</label>
                <div style="width:600px">
                    <select id="seleRole" name="account" class="form-control mb-3">
                        <option value="0">---请选择---</option>
                    </select>
                </div>

            </div>

            <div class="line"></div>

            <div class="form-group" style="float:left;margin-top:30px">
                <div class="col-sm-4 offset-sm-3">
                    <button id="btnAdd" class="btn btn-primary" onclick="useradd()">保存_Save</button>
                </div>
            </div>
            <div class="form-group" style="float:left;margin-left:30px;margin-top:30px">
                <div class="col-sm-4 offset-sm-3">
                    <a href="/Home/Index" class="btn btn-default">返回</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $().ready(function () {
        //获取归属地
        $.ajax({
            url: "/User/GetAddress",
            type: "POST",
            dataType: "json",
            success: function (res) {
                $(res.TrAddress).each(function () {
                    var tp = "<option value='" + this.AddressId + "'>" + this.AddressName + "</option>"
                    $("#seleAddress").append(tp);
                })
            }
        })
        //获取角色
        $.ajax({
            url: "/User/GetRoles",
            type: "POST",
            dataType: "json",
            success: function (res) {
                $(res.Roles).each(function () {
                    var pj = "<option value='" + this.RoleId + "'>" + this.RoleName + "</option>"
                    $("#seleRole").append(pj);
                })
            }
        })
    })
    function useradd() {
        var obj = {
            CreatorId:$("#userid").val(),
            UserName: $("#txtName").val(),
            UserPassword: $("#txtPwd").val(),
            Email: $("#txtEmail").val(),
            AddressId: $("#seleAddress").val(),
            RoleId: $("#seleRole").val()
        };
        $.ajax({
            url: "/User/GeUserAdd",
            type: "POST",
            data: { User: obj },
            dataType: "json",
            success: function (res) {
                if (res.Status) {
                    alert(res.Message);
                    location.href = '/User/UserShow';
                }
                else {
                    alert(res.Message);
                }
            }
        })

    }

</script>

