
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户登录</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link href="~/ReferencesFile/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome CSS-->
    <link href="~/ReferencesFile/Template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Fontastic Custom icon font-->
    <link href="~/ReferencesFile/Template/css/fontastic.css" rel="stylesheet" />
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/ReferencesFile/Template/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link href="~/ReferencesFile/Template/css/custom.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/ReferencesFile/Template/Icon/login.png">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <input hidden id="un" value="@ViewBag.UserName" />
    <input hidden id="up" value="@ViewBag.UserPassword" />
    <div class="page login-page" id="divVue">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1> 沪棋产品 </h1>
                                </div>
                                <p>Background product management system.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <form method="post" class="form-validate">
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <input id="login-username" df v-model="info.User.UserName" type="text" name="loginUsername" required data-msg="请输入用户名" class="input-material">
                                        <label for="login-username" class="label-material">用户名_UserName</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="login-password"   v-model="info.User.UserPassword" type="password" name="loginPassword" required data-msg="请输入用户的密码" class="input-material">
                                        <label for="login-password" class="label-material">密码_Password</label>
                                    </div><a id="login" v-on:click="Login" style="color:white" class="btn btn-primary">登录_Login</a>
                                    <div class="form-group terms-conditions">
                                        <input id="rememberpassword" v-model="info.User.Ck" type="checkbox" checked="checked" class="checkbox-template">
                                        <label for="rememberpassword">记住密码_RememberPassword</label>
                                    </div>
                                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                                </form> <a href="/User/ForgotPasswordPage" class="forgot-pass">忘记密码...?_ForgotPassword</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrights text-center">
        </div>
    </div>
    <!-- JavaScript files-->
    <script src="~/ReferencesFile/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/ReferencesFile/Template/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/ReferencesFile/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/ReferencesFile/Template/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/ReferencesFile/Template/vendor/chart.js/Chart.min.js"></script>
    <script src="~/ReferencesFile/Template/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="~/ReferencesFile/Template/js/front.js"></script>
</body>
</html>

<script src="~/Scripts/VUE/vue.min.js"></script>
<script src="~/Scripts/VUE/axios.min.js"></script>
<script>
  
    new Vue({
        el: "#divVue",
        data() {
            return {
                info: {
                    User:
                    {
                        UserName:"",
                        UserPassword: "",
                        Ck: false
                    }
                }
            }
        },
        mounted() {
            $("#login-username").val($("#un").val());
            $("#login-password").val($("#up").val());
            this.info.User.UserName = $("#login-username").val();
            this.info.User.UserPassword = $("#login-password").val();

            if ($("#login-password").val() == "") {
                $("#rememberpassword").prop("checked", "");
            }
            else {
                $("#rememberpassword").prop("checked", "true");
            }
        },
        methods: {
            Login: function () {
                var user = {
                    User:
                    {
                        UserName: this.info.User.UserName,
                        UserPassword: this.info.User.UserPassword,
                        Ck: this.info.User.Ck
                    }
                };

                axios
                    .post("/User/UserLogin", user)
                    .then(function (res) {
                        if (res.data.Status) {
                            axios
                                .post("/User/RememberPassword", user)
                            location.href = "/Home/Index?userName=" + res.data.User.UserName + "&roleName=" + res.data.User.RoleName + "&userId=" + res.data.User.UserId + "&privilegeName=" + res.data.User.privilegeName;

                        }
                        else {
                            window.alert(res.data.Message);
                        }
                    });
            }
        }
    });



    //$().ready(function () {


    //});

    ////登录点击事件
    //$("#login").click(function () {
    //    //登录对象
    //    var obj = {
    //        User:
    //        {
    //            UserName: $("#login-username").val(),
    //            UserPassword: $("#login-password").val()
    //        },
    //        ck: $("#rememberpassword").prop("checked")
    //    };

    //    $.ajax({
    //        url: "/User/UserLogin",
    //        type: "POST",
    //        data: obj,
    //        dataType: "json",
    //        success: function (res) {
    //            if (res.Status) {
    //                //将用户名密码保存到cookie
    //                $.ajax({
    //                    url: "/User/RememberPassword",
    //                    type: "POST",
    //                    data: obj
    //                });
    //                //成功之后跳转页面并附带参数
    //                location.href = "/Home/Index?userName=" + res.User.UserName + "&roleName=" + res.User.RoleName + "&userId=" + res.User.UserId + "&privilegeName=" + res.User.privilegeName;
    //            }
    //            else {
    //                alert(res.Message);
    //            }
    //        }
    //    });
    //})
</script>